<div class="container">
  <div class="hover12 column">
    <div>
      <figure>
        <a [routerLink]="['/plats']">
          <img src="assets/images/menu.jpg" aria-label="nwt" alt="NWT"/>
        </a>
      </figure>
      <span>Menu</span>
    </div>
    <div>
      <figure>
        <a [routerLink]="['/ingredients']">
          <img src="assets/images/ingredients.jpg" aria-label="nwt" alt="NWT"/>
        </a>
      </figure>
      <span>Ingrédients</span>
    </div>
    <div>
      <figure>
        <a [routerLink]="['/orders']">
          <img src="assets/images/orders.jpg" aria-label="nwt" alt="NWT"/>
        </a>
      </figure>
      <span>Commande</span>
    </div>
  </div>
</div>
