<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <mat-card-title>
      <a [routerLink]="['/plat', plat.id]">
        <span>{{ plat.name }}</span>
      </a>
    </mat-card-title>

    <mat-card-subtitle>
      <span>Prix : {{ plat.price }}€</span>
      <div>
        <ul class="mdc-list">
          <li class="mdc-list-item" *ngFor="let ingredient of plat.ingredients">
            <a [routerLink]="['/ingredient', ingredient.ref]">
              {{ ingredient.name }}
            </a>
          </li>
        </ul>
      </div>
      <div class="buttons-info">
        <a mat-button title="Edit" [routerLink]="['/editPlat', plat.id]">
          <mat-icon svgIcon="icon-edit"></mat-icon>
        </a>
        <button mat-button title="Delete" (click)="delete(plat)">
          <mat-icon svgIcon="icon-delete"></mat-icon>
        </button>
      </div>
    </mat-card-subtitle>
  </mat-card-title-group>
</mat-card>
