<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <mat-card-title>
      <a [routerLink]="['/ingredient', ingredient.id]">
        <span>{{ ingredient.name }}</span>
      </a>
      <br>
      <span>Quantité : {{ ingredient.quantity }}</span>
    </mat-card-title>

    <img mat-card-mat-image src="{{ ingredient.photo }}">
    <mat-card-subtitle>
      <div class="buttons-info">
        <a mat-button title="Edit" [routerLink]="['/editIngredient', ingredient.id]">
          <mat-icon svgIcon="icon-edit"></mat-icon>
        </a>
        <button mat-button title="Delete" (click)="delete(ingredient)">
          <mat-icon svgIcon="icon-delete"></mat-icon>
        </button>
      </div>
    </mat-card-subtitle>
  </mat-card-title-group>
</mat-card>
