<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <mat-card-title>
      <a [routerLink]="['/order', order.id]">
        <span>{{ order.name }}</span>
      </a>
    </mat-card-title>
    <img mat-card-mat-image src="assets/images/order/order.png">

    <mat-card-subtitle>
      <span *ngIf="order.isServed" style="color: #008744">Servie</span>
      <span *ngIf="!order.isServed" style="color: #d62d20">Non servie</span>
      <br>
      <span *ngIf="order.isPayed" style="color: #008744">Payée</span>
      <span *ngIf="!order.isPayed" style="color: #d62d20">Non payée</span>
      <div>
        <ul class="mdc-list">
          <li class="mdc-list-item" *ngFor="let plat of order.dishes">
            <a [routerLink]="['/plat', plat.ref]">
              {{ plat.name }}
            </a>
          </li>
        </ul>
      </div>
      <div class="buttons-info">
        <a mat-button title="Edit" [routerLink]="['/editOrder', order.id]">
          <mat-icon svgIcon="icon-edit"></mat-icon>
        </a>
        <button mat-button title="Delete" (click)="delete(order)">
          <mat-icon svgIcon="icon-delete"></mat-icon>
        </button>
      </div>
    </mat-card-subtitle>
  </mat-card-title-group>
</mat-card>
