<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <img mat-card-mat-image src="{{ ingredient.photo }}">
    <mat-card-title>
      <span>{{ ingredient.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ ingredient.quantity }}</span>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <a mat-button title="Edit" [routerLink]="['/edit', ingredient.id]">
      <i class="material-icons">mode edit</i>
    </a>
    <button mat-button title="Delete" (click)="delete(ingredient)">
      <i class="material-icons">delete</i>
    </button>
  </mat-card-content>
</mat-card>
