<mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/']">
      <img src="assets/images/logo.png" aria-label="nwt" alt="NWT">
    </a>
  </span>

  <span><h2 style="padding-top: 40px;padding-left: 10px;">What The Food</h2></span>
  <span class="flex"></span>

  <span>
    <mat-toolbar-row style="padding-top: 25px;">
      <a class="lien" [routerLink]="['/plats']">Plats</a>
      <a class="lien" [routerLink]="['/ingredients']">Ingredients</a>
      <a class="lien" [routerLink]="['/orders']">Commandes</a>
    </mat-toolbar-row>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
