<mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/']">
      <img src="assets/images/logo.png" aria-label="nwt" alt="NWT">
    </a>
  </span>

  <span class="flex"></span>

  <span>
    <div class="mdc-simple-menu" tabindex="-1">
      <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="mdc-list-item" role="menuitem" tabindex="0">
          <a class="lien" [routerLink]="['/ingredients']">Ingredients</a>
        </li>
        <li class="mdc-list-item" role="menuitem" tabindex="0">
          <a class="lien" [routerLink]="['/plats']">Plats</a>
        </li>
        <li class="mdc-list-item" role="menuitem" tabindex="0">
          <a class="lien" [routerLink]="['/orders']">Commandes</a>
        </li>
      </ul>
    </div>

  </span>
  <span>
    <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
