mat-toolbar.extend-toolbar {
  background-color: #abab79;
  background-position: right;
  top: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  width: 100%;
  z-index: 1;
  color: white;
  margin-bottom: 10px;
  height: 95px;
}

mat-toolbar .flex {
  flex: 1 1 auto;
}

mat-toolbar a img {
  height: 86px;
  margin-left: 0px;
  margin-top: 35px;
}

mat-toolbar-row a {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}
