<section>
  <mat-list>
    <mat-list-item class="mat-whiteframe-2dp mat-card">
      <img mat-list-avatar src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a2fa0522433737.5631e82d148c9.png">
      <h3 matLine> Jeoffrey Flach </h3>
      <p matLine>
        <span> Informatique </span> — <span> Luxembourg </span>
      </p>
    </mat-list-item>

    <mat-list-item class="mat-whiteframe-2dp mat-card">
      <img mat-list-avatar src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a2fa0522433737.5631e82d148c9.png">
      <h3 matLine> Jeoffrey Flach </h3>
      <p matLine>
        <span> Informatique </span> — <span> Luxembourg </span>
      </p>
    </mat-list-item>
  </mat-list>
</section>

<button (click)="showDialog()" *ngIf="dialogStatus === 'inactive'" mat-fab color="accent">
  <i class="material-icons">add</i>
</button>
